@font-face {
    font-family: gothamBook;
    src: url(../fonts/gotham-book.otf);
}
@font-face {
    font-family: gothamBold;
    src: url(../fonts/botham-bold.otf);
}
@font-face {
    font-family: gothamMedium;
    src: url(../fonts/gotham-medium.otf);
}
@font-face {
    font-family: gothamLight;
    src: url(../fonts/gotham-light.otf);
}
body {
	font-family: gothamBook;
	font-size: 14px;
	color: #636363;
	background: #fff;
}
img {
	max-width: 100%;
}
a {
	text-decoration: none;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
h1,h2,h3,h4,h5,h6 {
	font-family: gothamMedium;
}
.form-control:focus {
	box-shadow: none;
	outline: none;
}
.fw-bold {
	font-family: gothamBold;
}
.fw-light {
	font-family: gothamLight;
}
.fw-medium {
	font-family: gothamMedium;
}
.fw-regular {
	font-family: gothamBook;
}
a.more {
	display: inline-block;
	color: #e3007a;
	border: 1px solid #e3007a;
	padding: 10px 20px;
	text-transform: uppercase;
	border-radius: 5px;
	background: #fff;
	line-height: 100%;
}
a.more:hover {
	background: #e3007a;
	color: #fff;
}
section {
	padding: 40px 0;
	position: relative;
}
section .sectionHeading {
	font-size: 30px;
	margin-bottom: 25px;
}
section .sectionHeading.style-2 {
	color: #464646;
}
section .sectionHeading.style-2:first-letter {
	color: #e6571d;
}
section .sectionSubHeading {
	font-family: gothamLight;	
	font-size: 20px;
}
.mw-700 {
	max-width: 700px;
	margin: 0 auto;
}
.underline {
	text-align: center;
	position: relative;
	padding-bottom: 10px;
}
.underline:before {
	content: "";
	position: absolute;
	width: 50px;
	height: 2px;
	background: #e3007a;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0;
}
.textPink {
	color: #e3007a;
}
.text-blue {
	color: #0399b5;
}
.bg-grey {
	background: #f3f3f3;
}
.whiteBox {
	padding: 15px 20px;
	border-radius: 5px;
	background: #fff;
}
.greyBox {
	padding: 15px 20px;
	border-radius: 5px;
	background: #484c72;
	color: #fff;
}
.btn {
	padding: 12px 25px;
	border-radius: 50px;
	font-family: gothamMedium;
}
.btn.sm {
	border-width: 1px;
    font-family: 'gothamBook';
    padding: 8px 20px;
}
.btn.xs {
	border-width: 1px;
    font-family: 'gothamBook';
    padding: 0 6px;
    font-size: 14px;
}
.btnOutlineRed {
	background: #fff;
	border: 2px solid #e3007a;
	color: #e3007a;	
}
.btnOutlineRed:hover {
	color: #e3007a;	
}
.btnOutlineBlue {
	background: #fff;
	border: 2px solid #0399b5;
	color: #0399b5;	
}
.btnOutlineBlue:hover {
	color: #0399b5;	
}
.btnRed {
	background: #e3007a;
	border: 2px solid #fff;
	color: #fff;	
}
.btnBlue {
	background: #0399b5;
	color: #fff;
}
.btnGrad {
	color: #fff;
	font-family: gothamBook;
	cursor: pointer;
	border-radius: 50px;
	transition: 0.5s;
	background-size: 200% auto;
	background: rgb(8,149,180);
	background-image: linear-gradient(to right, rgba(8,149,180,1) 0%, rgba(111,80,153,1)  51%, rgba(221,4,124,1) 100%);
}
.btnGrad:hover {
	color: #fff;
	background-position: right center;
}
.btnGrad .fas {
	margin: 0 10px;
}
.progress {
	background: #8a8a8a;
	height: 10px;
}
.progress,
.progress .progress-bar {
	border-radius: 20px;
}
.newsletter .btn {
	background: #e3007a;
	color: #fff;
	line-height: 100%;
	font-size: 35px;
	padding: 0 25px;
}
ul.style-1 {
	margin-left: -15px;
}
ul.style-2 li {
	list-style: none;
	position: relative;	
	padding-left: 30px;
}
ul.style-2 li:not(:last-child) {
	margin-bottom: 10px;
}
ul.style-2 li:before {
	content: "";
	display: inline-block;
	transform: rotate(45deg);
	height: 15px;
	width: 10px;
	border-bottom: 2px solid #23253a;
	border-right: 2px solid #23253a;
	position: absolute;
	left: 5px;
	top: -2px;
}
table.v-align-middle td,
table.v-align-middle th {
	vertical-align: middle;
}
.bgArrow:before {
	content: "";
	position: absolute;
	display: block;
	left: 50%;
	transform: translateX(-50%);
	top: 100%;
    width: 70px;
    height: 30px;
    z-index: 1;
}
.bgWhite {
	background: #fff;
}
.bgWhite.bgArrow:before {	
	background: url(../img/arrow-section-white.png) no-repeat center center / contain;
}
.bgGrey {
	background: #f3f3f3;
}
.bgDark {
	background: #23253a;
}
.bgGradPurple {
	background: rgb(4,167,192);
	background: linear-gradient(90deg, rgba(4,167,192,1) 0%, rgba(111,80,153,1) 50%, rgba(201,95,183,1) 100%);
}
.bgGradBlue {
	color: #fff;
	background: rgb(0,170,147);
	background: linear-gradient(90deg, rgba(0,170,147,1) 0%, rgba(3,152,181,1) 50%, rgba(0,127,151,1) 100%);
}
.bgGradBlue.bgArrow:before {	
	background: url(../img/arrow-section-gradblue.png) no-repeat center center / contain;
}
.bgLightBlue {
	background: #e5f5f7;
}
.bgLightBlue.bgArrow:before {	
	background: url(../img/arrow-section-lightblue.png) no-repeat center center / contain;
}
.listFeatures {
	border: 1px solid #c2c2c2;
	border-radius: 5px;
	padding: 15px 0;
	text-align: center;
}
.listFeatures .item {
	padding: 10px;
	color: #23253a;
}
.listFeatures .item:not(:last-child) {
	border-right: 1px solid #c2c2c2;
}
.timeline {
	border-left: 2px solid #e3007a;
}
.timeline li {
	position: relative;
	padding-left: 20px;
	font-family: 'gothamMedium';
}
.timeline li:not(:last-child) {
	margin-bottom: 15px;
}
.timeline li:before {
	content: "";
	position: absolute;
	left: -5px;
	top: 5px;
	width: 8px;
	height: 8px;
	background: #e3007a;
	border-radius: 50%;
}
.nav-tabs {
	border: 1px solid #c2c2c2;
	border-radius: 5px;
	background: #fff;
}
.nav-tabs .nav-item:first-child button {
	border-radius: 5px 0 0 5px;
}
.nav-tabs .nav-item:last-child button {
	border-radius: 0 5px 5px 0;
}
.nav-tabs .nav-item:not(:last-child) {
	border-right: 1px solid #c2c2c2;
}
.nav-tabs .nav-item .nav-link {
	display: block;
	width: 100%;
	border: none;
	margin-bottom: 0;
	background: none;
	color: #23253a;
	font-family: gothamBold;
	text-transform: uppercase;
	padding: 25px 10px;
}
.nav-tabs .nav-item .nav-link.active {
	background: #f3f3f3;
	color: #e3007a;
}
/*========================== HEADER ==========================*/
header .top {
	padding: 10px 30px;
	background: #0399b5;
}
header .top .link a {
	display: inline;
	color: #fff;
	border: 1px solid #00d1e7;
	border-radius: 50px;
	padding: 10px 20px;
	margin: 0 10px;
}
header .top .search {
	border: 1px solid #05c5d9;
	border-width: 0 1px 0 1px;
	padding: 0 25px;
	margin: 0 20px;
}
header .top .search i {
	display: inline-flex;
	width: 36px;
	height: 36px;
	color: #fff;
	border: 1px solid #fff;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	font-size: 18px;
}
header .top .language .btn {
	color: #fff;
	padding: 0;
	font-family: gothamBook;
}
header .top .language .btn i {
	font-size: 30px;
	vertical-align: middle;
	margin-left: 5px;
}
header .top .dropdown-toggle::after {
	position: absolute;
	bottom: 0;
	left: 25px;
}
header .navbar {
	background: #fff;
	padding: 0 30px;
}
header .navbar .navbar-brand img {
	width: 200px;
}
header .navbar.navbar-expand-lg .nav-link {
	padding: 20px;
	color: #636363;
	font-family: gothamMedium;
	position: relative;
}
header .navbar.navbar-expand-lg .nav-link:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	background: #e3007a;
	left: 0;
	bottom: 0;
	opacity: 0;
	display: none;
}
header .navbar.navbar-expand-lg .nav-link:hover,
header .navbar.navbar-expand-lg .nav-link.active {
	background: #0399b5;
	color: #fff;
}
header .navbar.navbar-expand-lg .nav-link:hover:before {
	opacity: 1;
	display: block;
}
header .navbar-nav .dropdown-menu {
	background: rgba(3, 153, 181, .8);
	border-radius: 0;
	margin: 0;
	padding: 0;
}
header .navbar-nav .dropdown-menu .dropdown-item {
	color: #fff;
	font-size: 14px;
	padding: 10px 20px 10px 15px;
	border-left: 5px solid transparent;
}
header .navbar-nav .dropdown-menu .dropdown-item:hover {
	background: #fff;
	color: #0399b5;
	border-left-color: #e3007a;
}
header .navbar .dropdown-toggle:after {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 13px;
	border-top-color: #a9a9a9;
}
header .navbar.navbar-expand-lg .nav-item:hover .dropdown-toggle:after {
	border-top-color: #fff;
}
/*========================== INVEST PAGE ==========================*/
#investPage .overview .text,
#investPage #countdown {
	margin-bottom: 30px;
}
#investPage .notice {
	background: #f3f3f3;
	border: 2px solid #0399b5;
	max-width: 550px;
	text-align: left;
	margin: 25px auto;
	padding: 10px 30px;
	border-radius: 50px;
	font-size: 16px;
}
#investPage .notice img {
	width: 65px;
	margin-right: 15px;
}
#investPage #countdown {
	display: inline-block;
}
#investPage #countdown .item {
	background: #0399b5;
	color: #fff;
	margin: 0 10px;
	width: 100px;
	border-radius: 5px;
}
#investPage #countdown .number {
	font-family: gothamBold;
	font-size: 40px;
	line-height: 100%;
	border-bottom: 1px solid #00adcd;
	padding: 10px;
}
#investPage #countdown .bottom {
	text-transform: uppercase;
	padding: 5px 10px;
}
#investPage .startSale table {
	text-align: center;
}
#investPage .startSale table th {
	text-align: left;
	font-family: gothamMedium;
}
#investPage .startSale table th,
#investPage .startSale table td {
	border: none;
	padding: 2px 0;
}
#investPage .startSale table td:last-child {
	text-align: right;
}
#investPage .startSale .info .text {
	margin-bottom: 30px;
}
#investPage .startSale .circle {
	width: 550px;
	height: 550px;
	background: #fce5f1;
	border-radius: 50%;
	margin: 0 auto;
	text-align: center;
	color: #fff;
	padding: 40px;
}
#investPage .startSale .circle .inner {
	background: #e3007a;
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	padding: 50px;
}
#investPage .startSale .progress,
#investPage .startSale .progress .progress-bar {
	border-radius: 50px;
}
#investPage .startSale .progress {
	border: 2px solid #fff;
	height: 50px;
	margin: 20px 0;
	background: none;
	font-size: 20px;
	font-family: 'gothamMedium';
}
#investPage .startSale .rate {
	font-size: 20px;
	margin: 15px 0;
}
#investPage #countdown-1 {
	display: inline-block;
}
#investPage #countdown-1 .item {
	color: #fff;
	margin: 0 5px;
	width: 70px;
	border-radius: 5px;
}
#investPage #countdown-1 .number {
	font-family: gothamBold;
	font-size: 40px;
	line-height: 100%;
	border-bottom: 1px solid rgba(255,255,255,.6);
	padding: 10px;
	position: relative;
}
#investPage #countdown-1 .col-md-3:not(:last-child) .number:after {
	content: ":";
	position: absolute;
	top: 8px;
	right: -10px;
	font-size: 25px;
}
#investPage #countdown-1 .bottom {
	text-transform: uppercase;
	padding: 5px 10px;
}
#investPage .useCase .item {
	margin-bottom: 25px;
}
#investPage .useCase .inner {
	padding: 20px;
	height: 100%;
	min-height: 150px;
	background: rgb(0 0 0 / 11%);
	border-radius: 5px;
}
#investPage .tokenomics .keyMetrics {
	margin-top: 40px;
}
#investPage .tokenomics .label {
	display: inline-block;
	width: 150px;
}
#investPage .tokenomics .keyMetrics ul {
	margin-top: 20px;
}
#investPage .tokenomics .keyMetrics ul li {
	margin-bottom: 5px;
}
#investPage .tokenomics .total {
	background: #f8f8f8;
	border: 1px solid #c2c2c2;
	border-radius: 5px;
	padding: 25px;
	font-family: gothamMedium;
}
#investPage .tokenomics .total ul {
	margin: 20px 0 0;
}
#investPage .tokenomics .total ul li {
	position: relative;	
	padding-left: 20px;
}
#investPage .tokenomics .total ul li:not(:last-child) {
	margin-bottom: 10px;
}
#investPage .tokenomics .total ul li:before {
    content: "";
    width: 13px;
    height: 13px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
#investPage .tokenomics .total ul li.c1:before {
    background: #ff0000;
}
#investPage .tokenomics .total ul li.c2:before {
    background: #ff9300;
}
#investPage .tokenomics .total ul li.c3:before {
    background: #ffea00;
}
#investPage .tokenomics .total ul li.c4:before {
    background: #72bc36;
}
#investPage .tokenomics .total ul li.c5:before {
    background: #009d43;
}
#investPage .tokenomics .total ul li.c6:before {
    background: #009fe1;
}
#investPage .tokenomics .total ul li.c7:before {
    background: #0072b1;
}
#investPage .tokenomics .total ul li.c8:before {
    background: #002264;
}
#investPage .tokenomics .total ul li.c9:before {
    background: #772c8d;
}
#investPage .tokenomics .total ul li.c10:before {
    background: #e800cb;
}
#investPage .tokenomics .total ul li.c11:before {
    background: #bc0000;
}
#investPage .saleRound {
	margin-top: 40px;
	position: relative;
}
#investPage .saleRound img {
	position: absolute;
	bottom: 0;
	right: 0;
}
#investPage .saleRound table {
	font-family: gothamMedium;
}
#investPage .saleRound table thead {
	background: #0399b5;
	color: #fff;
}
#investPage .saleRound table tbody {
	background: #fff;
}
#investPage .saleRound table thead th {
	padding: 15px;
	border: 1px solid #000;
}
#investPage .saleRound table tbody td {
	padding: 10px 15px;
	border: 1px solid #000;
}
#investPage .investorsMap {
	color: #fff;
}
#investPage .investorsMap ul li {
	position: relative;	
	padding-left: 20px;
}
#investPage .investorsMap ul li:not(:last-child) {
	margin-bottom: 10px;
}
#investPage .investorsMap ul li:before {
    content: "";
    width: 13px;
    height: 13px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
#investPage .investorsMap ul li.c1:before {
    background: #3a5b97;
}
#investPage .investorsMap ul li.c2:before {
    background: #175a5f;
}
#investPage .investorsMap ul li.c3:before {
    background: #4f8f54;
}
#investPage .investorsMap ul li.c4:before {
    background: #957919;
}
#investPage .investorsMap ul li.c5:before {
    background: #67686c;
}
/*========================== BUY TOKEN ==========================*/
#buyTokenPage .banner {
	padding: 80px 0;
	background: url(../img/banner-buy-token.jpg) no-repeat center center / cover;
}
#buyTokenPage .banner form {
	background: #f2fafb;
}
#buyTokenPage .banner .card {
	border: none;
	background: #f2fafb;
}
#buyTokenPage .banner .card-header {
	background: #0399b5;
	text-align: center;
	color: #fff;
}
#buyTokenPage .banner .card-body {
	padding: 40px;
}
#buyTokenPage .banner .card-body .icon {
	width: 220px;
	display: block;
	margin: 0 auto 60px;
}
#buyTokenPage .banner input {
	padding: 10px 10px 10px 45px;
	background: no-repeat center left 8px / 25px;
}
#buyTokenPage .banner input.input-cmc {
	background-image: url(../img/icon-cmc.png);
}
#buyTokenPage .banner input.input-ftx {
	background-image: url(../img/icon-ftx.png);
}
/*========================== PAGINATE ==========================*/
.pagination {
	margin: 30px 0;
	border: 1px solid #e3007a;
	border-radius: 5px;
}
.pagination a,
.pagination span {
	display: inline-block;
	padding: 10px;
}
.pagination a {
	color: #e3007a;
}
.pagination .p-pre {
	border-right: 1px solid #e3007a;
}
.pagination .p-next {
	border-left: 1px solid #e3007a;
}
/*========================== FOOTER ==========================*/
footer {
	background: #23253a;
	padding: 40px 0;
	color: #fff;
}
footer a {
	color: #fff;
}
footer .footerLogo {
	width: 200px;
	display: block;
	margin: 0 auto 60px;
}
footer .title {
	position: relative;
	margin-bottom: 15px;
}
footer .title:before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 5px;
	width: 100%;
	height: 1px;
	background: #fff;
}
footer .title span {
	display: inline-block;
	background: #23253a;
	position: relative;
	padding-right: 5px;
}
footer .menuFooter ul {
	margin-left: -15px;
	margin-bottom: 30px;
}
footer .menuFooter ul li {
	margin-bottom: 8px;
}
footer .social .item {
	display: inline-flex;
	width: 45px;
	height: 45px;
	color: #0494b0;
	border: 2px solid #0494b0;
	border-radius: 50%;
	line-height: 1;
	align-items: center;
	justify-content: center;
	font-size: 25px;
	margin: 0 5px 20px;
}
footer .copyright {
	margin-bottom: 30px;
}
/*========================== RESPONSIVE ==========================*/
@media (max-width: 1440px) {
	
}
@media (max-width: 1366px) {
	
}
@media (max-width: 1024px) {
	
}
@media (max-width: 992px) {
	header .navbar-toggler:focus {
		box-shadow: none;
	}
	header .navbar .dropdown-toggle:after {
		transform: none;
		left: auto;
		right: 10px;
		bottom: auto;
		top: 50%;
		transform: translateY(-50%);
	}
	header .navbar-collapse {
		padding-top: 20px;
	}
	header .navbar.navbar-expand-lg .nav-link {
		padding: 8px 10px;
	}
	.nav-tabs .nav-item .nav-link {
		padding: 10px;
	}
	#investPage .startSale .circle {
		margin-bottom: 20px;
	}
}
@media (max-width: 768px) {
	section {
		padding: 20px 0;
	}
	section .sectionHeading {
		font-size: 22px;
	}
	section .sectionSubHeading {
		font-size: 18px;
	}
	header .navbar {
		padding: 0 10px;
	}
	#investPage .startSale .circle {
	    width: 340px;
	    height: 340px;
	    padding: 15px;
	}
	#investPage .startSale .circle .inner {
		padding: 20px 30px;
	}
	#investPage .startSale .circle h5 {
		font-size: 16px;
	}
	#investPage .startSale .circle .btn {
		padding: 5px 15px;
	}
	#investPage .startSale .info .text {
		margin-bottom: 10px;
	}
	#investPage .startSale .progress {
		height: 30px;
		margin: 5px 0 10px;
		font-size: 16px;
	}
	#investPage .startSale .rate {
		font-size: 14px;
		margin: 5px 0;
	}
	#investPage .notice {
		font-size: 14px;
		padding: 10px 15px;
	}
	#investPage .notice img {
		width: 50px;
	}
	#investPage #countdown .item {
		width: 80px;
	}
	#investPage #countdown-1 .item {
		width: 50px;
	}
	#investPage #countdown-1 .number {
		font-size: 28px;
		padding: 5px;
	}
	#investPage #countdown-1 .bottom {
		font-size: 10px;
		padding: 5px;
	}	
	#investPage .useCase .inner {
		min-height: initial;
	}
	#investPage .tokenomics .total ul {
		margin: 0 0 10px;
	}
	#investPage .tokenomics .textPink {
		overflow-wrap: break-word;
	}
	#buyTokenPage .banner {
		padding: 50px 0;
	}
	#buyTokenPage .banner .card-body {
		padding: 20px;
	}
}
@media (max-width: 576px) {
	
}